* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
}

#canvas {
  position: relative;
  width: 50%;
  outline: none;
}

#github {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

#github > img {
  width: 225px;
}

.openModalBtn {
  position: absolute;
  bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  display: flex;
}

.cardInfoContainer {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0rem;
  margin: 0rem 2rem;
  color: #131313;
  font-weight: 500;
  width: 100%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.65);
}

.content {
  width: 100%;
  max-width: 400px;
  border: 2px solid #131313;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #fafafa;
}

.inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.inputDiv > input {
  outline: none;
  padding: 0.25rem;
  font-size: 1rem;
}

.nextBtn {
  padding: 0.5rem 2rem;
  background-color: rgb(0, 38, 255);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.25rem;
  margin: 1rem 0rem;
  color: #fafafa;
}
